<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="11054">
        <setting id="my_recently_played_playlist_name" type="text" default="My Recently Played"
                 label="11069" help="Disable by setting string to NONE"/>
        <setting id="gap_between_playlist_tracks" type="number" default="0" label="11070"
	         help="Gap between tracks when playing a playlist (secs)"/>
        <setting id="use_spotify_normalization" type="bool" default="true" label="11075">
          <control type="toggle"/>
        </setting>
        <setting id="spotify_stream_volume" type="slider" default="35" label="11095" help="11096" range="1,1,100" option="int"/>
    </category>

    <category label="11106">
        <setting id="upnext_enabled" type="bool" default="true" label="11099" help="11100">
          <control type="toggle"/>
        </setting>
        <setting id="upnext_preview_seconds" type="number" default="15" label="11101" help="11102"/>
        <setting id="upnext_prebuffer_enabled" type="bool" default="true" label="11107" help="11108">
          <control type="toggle"/>
        </setting>
    </category>

    <category label="11055">
        <setting id="fetch_extra_song_info" type="bool" default="true" label="11109" help="11110">
          <control type="toggle"/>
        </setting>
        <setting id="categoryDefaultView" type="text" default="" label="11020"/>
        <setting id="playlistDefaultView" type="text" default="" label="11031"/>
        <setting id="artistDefaultView" type="text" default="" label="11032"/>
        <setting id="albumDefaultView" type="text" default="" label="11033"/>
        <setting id="songDefaultView" type="text" default="" label="11034"/>
        <setting id="appendArtistToTitle" type="bool" default="false" label="11030"/>
    </category>
</settings>
